<%= form_with(model: person, local: true) do |people_form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= people_form.label :Імя %>
    <%= people_form.text_field :name %>
  </div>

  <div class="field">
    <%= people_form.label :Прізвище %>
    <%= people_form.text_field :surname %>
  </div>

  <div class="field">
    <%= people_form.label :Вік %>
    <%= people_form.text_field :age %>
  </div>

  <div class="field">
    <%= people_form.label :Номер_телефону %>
    <%= people_form.text_field :phone %>
  </div>

  <div class="field">
    <%= people_form.label :Країна %>
    <%= people_form.text_field :country %>
  </div>


 <h2>Адреса</h2>
 <%= people_form.fields_for :address do |address| %>

 <div class="field">
     <%= address.label :Вулиця %>
     <%= address.collection_select(:street, Address.all, :street, :street) %>
 </div>

 <div class="field">
     <%= address.label :Номер_будинку %>
     <%= address.text_field :house_number %>
 </div>

 <% end %>


  <div class="actions">
    <%= people_form.submit 'Оновити'%>
  </div>
<% end %>
