<p id="notice"><%= notice %></p>

<p>
  <strong>Ім'я:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Прізвище:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Вік:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Номер телефону:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Країна:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Вулиця:</strong>
  <%= @person.address.street %>
</p>

<p>
  <strong>Номер будинку:</strong>
  <%= @person.address.house_number %>
</p>

<%= link_to 'Редагувати', edit_person_path(@person) %> |
<%= link_to 'Видалити', people_path %>
