<p id="notice"><%= notice %></p>

<p>
  <strong>Вулиця:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Номер будинку:</strong>
  <%= @address.house_number %>
</p>

<%= link_to 'Редагувати', edit_address_path(@address) %> |
<%= link_to 'Повернутися', addresses_path %>
